section{
    width: 100%;
    max-width: 1440px;
    height: 600px;
    border: solid 1px white;
    padding:84px 45px;
}



@media(max-width:430px){
    section{
        height:auto;
        padding: 40px 15px;
    }
}